@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Merriweather:wght@300;400;700;900&display=swap');

body {
  font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Mountains of Christmas', cursive;
}

